*.jpg
*.JPG
*.jpeg
*.JPEG
*.png
*.PNG
*.webp
*.zip
*.tgz
*.safetensors
*.hdf5
*tmp*
datasets/
DeepFakeFace/
*__pycache__*
VillanDiffusion/
sd_lora/

!fake_images/cifar10_ddpm/*
!real_images/cifar10/*
!real_images/out_dist/*

